
.slotMachine {
    width: 80px; 
    height: 80px;
    overflow: hidden;
    cursor: default;
    position: relative;
    border : 1px solid whitesmoke;
    filter: brightness(1.2) contrast(0.8) sepia(0.2) saturate(1.4) blur(0.6px) drop-shadow(0 0 5px rgba(71, 154, 168, 0.8));
 
  background: radial-gradient(ellipse at center, rgba(23, 102, 148, 0) 0%, rgba(49, 121, 163, 0.8) 100%);
    margin: 5px;
  }
  
  .slot {
    display: flex;
    flex-direction: column;
    transition: transform 0.1s ease-in-out;
  }
  
  .letter {
    width: 100%;
    text-align: center;
    font-size: 0.6em;
    transition: transform 0.5s ease-in-out;
    color: #fff;
  }
  
  .letterMain{
    width: 100%;
    font-weight: 1000;
    text-align: center;
    font-size: 2em;
    transition: transform 0.5s ease-in-out;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
  }