/* PostCard.module.css */
.postCard {
  max-width: 48rem;
  margin: 2rem auto;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.375rem;
}

.postImage {
  width: 100%;
  object-fit: cover;
}

.cardContent {
  padding: 1rem;
  transition: background-color 0.3s ease;

 
}

.cardContent :hover {
    background-color: #cbd5e0;
  }


.cardContent:hover {
  background-color: #cbd5e0;
}
